<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <!--main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto main_header-container">
                <!-- left div -->
                <div class="col-md-6 col-12 main_header_right">
                    <img src="images/about1.jpg" width="100%">
                </div>
                <!-- right div -->
                <div id="about_left" class="col-md-6 col-12 main_header_left">
                    <p>Welcome to<span class="txt"> Web Technical</span> Your number one source for all the things. We
                        are dedicated to giving you best of work.</p>
                    <h1>we are the<span class="txt"> professional developers</span></h1>
                    <a href="https://github.com/Syed-Jameel" target="_blank"><button class="mt-4">About Us</button></a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>