<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
    {{>navbar}}

    <!--service-->
    <div class="container-fluid service">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings ">
                                <div class="icon">
                                    <img src="https://i.imgur.com/6NKPrhO.png" alt="img1">
                                </div>
                                <h4>Settings</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro pariatur eius
                                    dolorem obcaecati sequi eos nihil nemo asperiores ab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services database">
                                <div class="icon">
                                    <img src="https://i.imgur.com/VzjZw9M.png" alt="img2">
                                </div>
                                <h4>Database</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro pariatur eius
                                    dolorem obcaecati sequi eos nihil nemo asperiores ab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services privacy">
                                <div class="icon">
                                    <img src="https://i.imgur.com/AgyneKA.png" alt="img3">
                                </div>
                                <h4>Privacy</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro pariatur eius
                                    dolorem obcaecati sequi eos nihil nemo asperiores ab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services backups ">
                                <div class="icon">
                                    <img src="https://i.imgur.com/vdH9LKi.png" alt="img4">

                                </div>
                                <h4>Backups</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro pariatur eius
                                    dolorem obcaecati sequi eos nihil nemo asperiores ab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services ssl">
                                <div class="icon">
                                    <img src="https://i.imgur.com/v6OnUqu.png" alt="img5">
                                </div>
                                <h4>SSL Secured</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro pariatur eius
                                    dolorem obcaecati sequi eos nihil nemo asperiores ab.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="box">

                            <div class="our-services speedup ">
                                <div class="icon">
                                    <img src="images/speedup.png" alt="img6" width="37%">
                                </div>
                                <h4>Speedup</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias porro pariatur eius
                                    dolorem obcaecati sequi eos nihil nemo asperiores ab.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>